/* Set default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Style the header */
header {
  background-color: #e0005a;
  color: blaco;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header li {
  margin-left: 20px;
}

header a {
  color: #360764;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

header a:hover {
  color: #4d0693;
}

/* Style the main content */
main {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 20px;
}

main h2 {
  font-size: 2em;
  color: #e0005a;
  margin-top: 40px;
  margin-bottom: 20px;
}

main p {
  line-height: 1.5em;
  margin-bottom: 20px;
}

main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main li {
  margin-bottom: 10px;
}

main a {
  color: #e0005a;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

main a:hover {
  color: #4d0693;
}

main address {
  font-style: normal;
  margin-bottom: 20px;
}

/* Style the contact form */
form {
  margin-top: 40px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #e0005a;
}

input,
textarea {
  border: 2px solid #e0005a;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 20px;
  width: 100%;
}

button[type="submit"] {
  background-color: #e0005a;
  color: blaco;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #4d0693;
}
.collapsible {
  background-color: #565252;
  color: blaco;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: blaco;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #4e3b3b;
}
.footer {
  min-height: calc(100vh - 120px);
  /* 80px header + 40px footer = 120px  */
}